@mixin page-header() {
  padding: 70px 0;
  padding-bottom: 76px;

  font-weight: $font-bold;
  font-size: $fs-page-header;
  line-height: $lh-page-header;
  text-align: center;
  color: $font-black;
}

@mixin section-header() {
  font-weight: $font-bold;
  font-size: $fs-section-header;
  line-height: $lh-section-header;
  color: $font-black;
  margin: 0 auto;

  @media #{$tablet-widths} {
    font-size: $fs-section-header-tablet;
    line-height: $lh-section-header-tablet;
  }

  @media #{$desktop-widths} {
    font-size: $fs-section-header-desktop;
    line-height: $lh-section-header-desktop;
  }
}

@mixin container() {
  padding: 0 30px;

  @media #{$tablet-widths} {
    padding: 0 50px;
  }

  @media #{$desktop-widths} {
    max-width: 1050px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
  }
}

@mixin list() {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin zigzag-line() {
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: auto 7px;

  @media #{$tablet-widths} {
    background-size: auto 17px;
  }

  @media #{$desktop-widths} {
    background-size: auto 23px;
  }
}
