html {
  font-size: 15px;
}

body {
  width: 320px;

  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #444444;

  background-color: #ffffff;
}
