// Слишком много отдельных переменных для черного цвета...
// Стоит их объединить? Если да, то не знаю, как логичнее будет
$page-header-color: #000;
$section-header-color: #000;
$advantage-color: #000;
$author-name-color: #000;
$copyright-color: #000;
$catalog-item-color: #000;

$btn-color: #444;
$link-color: #444;

$bg-gray: #fbfbfb;
$bg-tiffany: #63d1bb;
$bg-darktiffany: #56c3b2;
$bg-btn: #fff;

$border-color: #ececec;

$nav-link-color: #fff;
$modal-btn-color: #fff;

$feature-tiffany: #63d1bb;
$legend-tiffany: #63d1bb;

$font-bold: 700;
