$mobile-widths-only: "(max-width: 767px)";
$tablet-widths: "(min-width: 768px)";
$desktop-widths: "(min-width: 1150px)";

$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";

$font-bold: 700;

$icon-fill: #63d1bb;
$icon-fill-effect: #46c1ae;
$input-fill: #62d1ba;

$font-white: #fff;
$font-black: #000;
$link-hover: #8d8d8d;
$link-active: #cacaca;

$placeholder-color: #d2d2d2;
$textarea-border: #444;

$font-tiffany: #63d1bb;
$font-darktiffany: #56c3b2;

$input-tiffany: #62d1ba;

$bg-white: #fff;

$bg-input: #f1f1f1;

$bg-tiffany: #63d1bb;
$bg-darktiffany: #56c3b2;

$bg-tiffany-effect: #59d5bc;
$bg-darktiffany-effect: #46c1ae;

$bg-header: #f9f9f9;
$bg-footer: #f1f1f1;

$bg-title: #f1f1f1;

$footer-line: #e5e5e5;

$link-brown: #444;
$btn-brown: #444;
$btn-brown-active: #8d8d8d;

$border-modal: #c7c7c7;
$border-footer: #e5e5e5;
$border-color: #ececec;
$shadow-color: #ececec;

$fs-small: 13px;
$fs-base: 17px;
$fs-btn: 18px;
$fs-base-bigger: 18px;

$lh-base: 17px;
$lh-base-bigger: 18px;
$lh-large: 30px;

$footnote-fs: 14px;
$footnote-lh: 16px;

$fs-page-header: 27px;
$lh-page-header: 30px;

$fs-section-header: 25px;
$lh-section-header: 30px;

$fs-section-header-tablet: 43px;
$lh-section-header-tablet: 50px;

$fs-section-header-desktop: 53px;
$lh-section-header-desktop: 57px;
