$font-bold: 700;

$bg-gray: #fbfbfb;
$bg-tiffany: #63d1bb;
$bg-darktiffany: #56c3b2;
$bg-btn: #fff;

$btn-fs: 17px;
$btn-color: #444;
$link-color: #444;

$page-header-color: #000;
$page-header-fs: 27px;
$page-header-lh: 30px;

$section-header-color: #000;
$section-header-fs: 25px;
$section-header-lh: 30px;

$main-nav-link-fs: 17px;
// $main-nav-link-lh: 24px;

$nav-link-fs: 19px;
// $nav-link-lh: 24px;
$nav-link-color: #fff;

$catalog-item-color: #000;
$catalog-item-fs: 17px;
// $catalog-item-lh: 24px;

$details-fs: 13px;
$details-lh: 30px;

$feature-price-fs: 17px;
// $price-value-lh: 24px;

$advantage-color: #000;

$border-color: #ececec;

$feature-tiffany: #63d1bb;
$feature-fs: 17px;
$feature-lh: 17px;

$modal-desc-lh: 30px;
$modal-desc-fs: 13px;
$modal-label-fs: 17px;
$modal-btn-color: #fff;

$legend-tiffany: #63d1bb;

$contacts-header-fs: 18px;
$contacts-header-lh: 30px;

$review-lh: 30px;
$review-author-fs: 18px;
$review-author-color: #000;

$form-desc-fs: 13px;
$form-legend-fs: 17px;
$form-label-fs: 17px;
$form-label-lh: 18px;
$form-input-fs: 17px;
$form-input-lh: 18px;

$copyright-fs: 19px;
$copyright-lh: 19px;
$copyright-color: #000;

$video-title-fs: 17px;
$video-desc-fs: 13px;

$footnote-fs: 14px;
$footnote-lh: 16px;
