.btn {
  display: block;
  margin: auto;
  padding: 12px 20px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: $font-bold;
  font-size: $fs-btn;
  text-align: center;
  color: $btn-brown;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $bg-white;
  border: $btn-brown solid 2px;

  cursor: pointer;

  &:hover {
    color: $font-white;

    background-color: $btn-brown;
  }

  &:active {
    color: $btn-brown-active;
  }
}
