.catalog-nav {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-nav__item {
  position: relative;
  display: block;
  font-weight: $font-bold;
  line-height: $lh-large;
  font-size: 19px;

  &#{&}--interior {
    background-color: $bg-tiffany;

    &#{&}::after {
      content: "";
      width: 41px;
      height: 62px;
      position: absolute;
      top: 23px;
      right: 36px;
      background: url("../img/icon-interior.svg") no-repeat;
      opacity: 0.2;
    }
  }

  &#{&}--toys {
  background-color: $bg-darktiffany;
      &#{&}::after {
        content: "";
        width: 61px;
        height: 61px;
        position: absolute;
        top: 20px;
        right: 26px;
        background: url("../img/icon-toy.svg") no-repeat;
        opacity: 0.2;
      }
  }
}

.catalog-nav__link {
  display: block;
  padding: 21px 74% 22px 30px;

  color: $font-white;
  text-decoration: none;
}

@media #{$tablet-widths} {
  .catalog-nav {
    @include container();
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
  }

  .catalog-nav__item {
    flex-grow: 1;
    font-size: 20px;
    line-height: 30px;
  }

  .catalog-nav__link {
    padding-right: 55%;
  }
}

@media #{$desktop-widths} {
  .catalog-nav__link {
    padding: 28px 30px;
    padding-right: 315px;

  }
}
