.catalog-nav {
  width: 320px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-nav__item {
  display: block;
  font-weight: $font-bold;
  line-height: 30px;
  font-size: $nav-link-fs;
}

.catalog-nav__link {
  display: block;
  padding: 40px 30px;

  color: $nav-link-color;
  text-decoration: none;

  &#{&}--interior {
    background-color: $bg-tiffany;
  }

  &#{&}--toys {
  background-color: $bg-darktiffany;
  }
}

@media #{$tablet-widths} {
  .catalog-nav {
    width: 668px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
  }

  .catalog-nav__item {
    width: 334px;
    flex-grow: 1;
    font-size: 20px;
    line-height: 30px;
  }


}
