.catalog-item__title {
  display: block;

  font-weight: $font-bold;
  font-size: 1.13rem;
  line-height: 1.41;
  color: $catalog-item-color;
  text-decoration: none;
}

.catalog-item__description {
  padding: 25px 25px;

  border: $border-color solid 1px;
}

.catalog-item__photo {
  display: block;

  font-size: 0;
}

.catalog-item__details {
  display: block;

  font-size: 0.86rem;
  line-height: 2.3;
}

.catalog-item__price-value {
  font-weight: $font-bold;
  line-height: 1.6;
  color: $catalog-item-color;
}
