.contacts {
  @media #{$desktop-widths} {
    @include container();

    position: relative;
  }
}

.contacts__title {
  @include container();

  margin: 0;
  margin-bottom: 26px;

  font-weight: $font-bold;
  font-size: $fs-base-bigger;
  line-height: $lh-large;
  color: $font-black;

  @media #{$tablet-widths} {
    @include section-header();

    position: relative;
    padding: 27px 120px 49px 45px;

    &::before {
      position: absolute;
      content: "";
      width: 52px;
      height: 85px;
      right: 48px;
      top: 11px;
      background: url("../img/icon-flag.svg") no-repeat;
    }
  }

  @media #{$desktop-widths} {
    padding-top: 70px;
    padding-left: 170px;

    &::before {
      left: 63px;
      top: 62px;
    }
  }
}

.contacts__details {
  @include container();
  margin-bottom: 37px;

  @media #{$tablet-widths} {
    display: flex;
    margin-bottom: 56px;
  }

  @media #{$desktop-widths} {
    display: block;
    padding: 0;
    padding-left: 175px;
    margin-bottom: 79px;
  }
}

.contacts__email {
  display: flex;
  align-items: flex-start;
  margin-bottom: 29px;

  @media #{$tablet-widths} {
    width: 350px;
  }
}

.contacts__address {
  display: flex;

  @media #{$tablet-widths} {
    width: 350px;
  }
}

.contacts__value {
  width: 76px;
  line-height: 30px;

  vertical-align: top;

  @media #{$tablet-widths} {
    font-size: $fs-base;
  }

}

.contacts__field {
  margin: 0;
  width: 180px;
  line-height: 30px;

  &#{&}--link {
    color: $link-brown;
    text-decoration: none;
    border-bottom: 1px solid #62d1ba;

    &:hover {
      color: #46c1ae;
      border-color: #46c1ae;
    }

    &:active {
      color: #d3ede8;
      border-color: #d3ede8;
    }
  }

  @media #{$tablet-widths} {
    width: 225px;
    font-size: $fs-base;

    &#{&}--link {
      width: auto;
    }
  }
}

.contacts__map {
  position: relative;
  height: 457px;
  margin-bottom: 39px;

  background-color: #f3f1ea;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  &#{&}--nojs {
    &::after {
      position: absolute;
      content: "";
      width: 66px;
      height: 100.801px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url("../img/icon-map-pin.svg");
    }
  }

  @media #{$retina} {
    background-image: url("../img/map-mobile@2x.jpg");
    background-size: 100% auto;
  }

  @media #{$tablet-widths} {
    margin-bottom: 55px;
    background-image: url("../img/map-tablet@1x.jpg");

    @media #{$retina} {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  @media #{$desktop-widths} {
    position: absolute;
    top: 0;
    right: 0;

    width: 525px;

    background-image: url("../img/map-desktop@1x.jpg");
    background-position: right;

    @media #{$retina} {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }
}

.contacts__to-write-us {
  margin: 0 30px;

  @media #{$tablet-widths} {
    box-sizing: border-box;
    width: 230px;
    margin: 0 auto;
    font-size: $fs-base;
  }

  @media #{$desktop-widths} {
    width: 230px;
    margin: 0;
    margin-left: 175px;
  }
}
