.extra-nav {
  display: none;

  @media #{$desktop-widths} {
    @include list();
    display: flex;

    background: $bg-header;
  }
}

.extra-nav__item {
  @media #{$desktop-widths} {
    width: 186px;
    padding: 19px 0;
    padding-left: 50px;

    font-size: 15px;
    text-align: left;

    background: $bg-header;
    border: none;

    &:nth-child(2) {
      padding-left: 35px;
    }
  }
}

.extra-nav__link {
  @media #{$desktop-widths} {
    display: block;
    text-decoration: none;
    color: $font-black;
    font-weight: $font-bold;

    &:hover {
      color: $link-hover;
    }

    &:active {
      color: $link-active;
    }
  }
}
