.featured-item {
  @include zigzag-line();
}

.featured-item__wrapper {
  @include container();

  padding-bottom: 42px;
  margin-bottom: 27px;

  @media #{$tablet-widths} {
    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 48px;
    padding-bottom: 70px;
  }

  @media #{$desktop-widths} {
    padding-top: 52px;
    padding-bottom: 95px;
    margin-bottom: 60px;
  }
}

.featured-item__header {
  margin-bottom: 21px;

  @media #{$tablet-widths} {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
  }

  @media #{$desktop-widths} {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 42px;
  }
}

.featured-item__title {
  @include section-header();
  margin-bottom: 3px;

  @media #{$tablet-widths} {
    margin: 0;
  }
}

.featured-item__feature {
  font-weight: $font-bold;
  font-size: $fs-base;
  line-height: $lh-base;
  color: $font-tiffany;
  text-transform: uppercase;

  @media #{$tablet-widths} {
    width: 127px;

    text-align: center;
    text-transform: uppercase;
  }

  @media #{$desktop-widths} {
    padding: 15px 19px;
    padding-right: 24px;
  }
}

.featured-item__description {
  margin: 0;
  margin-bottom: 20px;

  @media #{$tablet-widths} {
    font-size: $fs-base;
    line-height: $lh-large;
    margin-bottom: 37px;
  }

  @media #{$desktop-widths} {
    margin-bottom: 52px;
  }

}

.featured-item__value {
  padding: 6px 29px 8px 0;

  border-bottom: $border-color solid 1px;

  @media #{$desktop-widths} {
    padding-right: 12px;
  }
}

.featured-item__field {
  padding: 6px 25px 8px 0;

  border-bottom: $border-color solid 1px;

  @media #{$desktop-widths} {
    padding-top: 2px;
  }
}

.featured-item__photo {
  z-index: -1;

  display: block;
  margin: 0 auto;

  @media #{$tablet-widths} {
    position: absolute;
    width: 333px;
    height: 404px;
    top: 107px;
    right: 51px;
  }

  @media #{$desktop-widths} {
    top: 0;
    right: 0;
    width: 525px;
    height: 636px;
    z-index: -1;
  }
}

.featured-item__characteristic {
  margin-bottom: 31px;
  border-collapse: collapse;

  @media #{$tablet-widths} {
    margin-bottom: 29px;
  }

  @media #{$desktop-widths} {
    width: 100%;
    margin-bottom: 82px;
  }
}

.featured-item__price {
  padding: 25px 25px;

  font-weight: $font-bold;
  font-size: $fs-base;
  text-align: center;

  @media #{$tablet-widths} {
    font-size: 20px;
    line-height: 24px;
    width: 100%;
    padding: 28px 25px;
    box-sizing: border-box;
    margin-bottom: 6px;
  }

  @media #{$desktop-widths} {
    padding-left: 28px;
  }
}

.featured-item__info {
  @media #{$tablet-widths} {
    display: flex;
    flex-direction: column;
    width: 295px;
  }

  @media #{$desktop-widths} {
    padding-left: 175px;
  }
}

.featured-item__to-order {

  @media #{$tablet-widths} {
    width: 292px;
    margin: 0;
    padding: 12px 0;
    font-size: $fs-base;
    box-sizing: border-box;
  }

  @media #{$desktop-widths} {
    box-sizing: border-box;
    padding-left: 5px;
  }
}
