.input {
  display: block;

  &#{&}--radio {
    display: none;
  }

  &#{&}--checkbox {
    display: none;
  }
}

@media #{$tablet-widths} {
  .input {
    &#{&}--tel,
    &#{&}--email  {
      background-color: #f1f1f1;
      width: 100%;
      box-sizing: border-box;
    }
  }
}
