.input {
  display: block;

  font-size: $fs-base;
  line-height: $lh-base-bigger;
  font-family: "Open Sans", "Arial", sans-serif;

  border: none;
  border-bottom: $font-black solid 2px;
  outline: none;

  &::-webkit-input-placeholder,
  &:-ms-input-placeholder,
  &::-ms-input-placeholder {
    font-weight: 400;
    font-size: $fs-base;
    color: $placeholder-color;
    font-style: normal;
  }

  &:hover {
    border-color: $input-tiffany;
  }

  &:focus {
    color: $font-black;

    border-color: $input-tiffany;
  }

  &#{&}--radio {
    display: none;
  }

  &#{&}--checkbox {
    display: none;
  }

  @media #{$tablet-widths} {
    font-size: 19px;
    line-height: 19px;

    &::-webkit-input-placeholder,
    &:-ms-input-placeholder,
    &::-ms-input-placeholder {
      font-size: 19px;
    }

    &#{&}--tel {
      box-sizing: border-box;

      background-color: $bg-input;
    }

    &#{&}--email {
      box-sizing: border-box;

      background-color: $bg-input;
    }
  }
}
