.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;

  &:last-child {
    border-bottom: $border-color solid 1px
  }
}

.main-nav__link {
  display: block;
  padding: 30px 60px;
  font-size: 1.133rem;
  line-height: 1.41;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  border-top: $border-color solid 1px;
}
