.main-nav {
  position: relative;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  background: #fff;
  width: 320px;
}

.main-nav__link {
  display: block;
  padding: 30px 60px;
  padding-left: 75px;

  font-weight: $font-bold;
  font-size: $main-nav-link-fs;
  color: #000000;
  text-decoration: none;

  border-top: $border-color solid 1px;
}

@media #{$mobile-widths-only} {
  .main-nav__list {
    position: absolute;

    &:last-child {
      border-bottom: $border-color solid 1px;
    }
  }

  .main-nav__toggle {
    position: absolute;
    top: -50px;
    right: 30px;

    cursor: pointer;

    width: 21px;
    height: 20px;
    display: block;
    background-color: #fff;
    border: none;
  }

  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--closed .main-nav__toggle {
    &::before {
      content: "";
      position: absolute;
      width: 21px;
      height: 2px;

      top: 3px;
      left: 0;

      background-color: #221f1f;
      box-shadow: 0 6px 0 0 #221f1f,
                  0 12px 0 0 #221f1f;
    }
  }

  .main-nav--opened .main-nav__toggle {
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 21px;
      height: 2px;

      top: 9px;
      left: 0px;

      background-color: #221f1f;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .main-nav--nojs .main-nav__toggle {
    // Временно закомментировала
    // display: none;
  }

  .main-nav--nojs .main-nav__list {
    position: static;
    height: auto;
  }
}

@media #{$tablet-widths} {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav__link {
    border: none;
  }

}
