.modal-cart {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

  display: block;
  width: 260px;
  margin: auto;
  padding: 45px 30px;
  padding-top: 31px;
  background-color: $bg-white;
  border-top: $border-modal solid 1px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.25);

  @media #{$tablet-widths} {
    width: 565px;
    padding: 33px 100px;
    padding-bottom: 47px;
    box-sizing: border-box;

    border: $border-modal solid 1px;
  }
}

.modal-cart__title {
  @include section-header();

  padding: 0 50px;
  margin-bottom: 13px;

  text-align: center;
  text-transform: uppercase;

  @media #{$tablet-widths} {
    padding: 0;
    margin: 0 auto;
    margin-bottom: 14px;
    font-size: 30px;
    line-height: 57px;
  }

  @media #{$desktop-widths} {
    font-size: 30px;
  }
}

.modal-cart__description {
  display: block;

  line-height: $lh-large;
  text-align: center;
  margin-bottom: 22px;

  @media #{$tablet-widths} {
    font-size: $fs-base;
    margin: 0 auto;
    margin-bottom: 21px;
  }
}

.modal-cart__form-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;

  @media #{$tablet-widths} {
    width: 350px;
    margin: 0 auto;
    margin-bottom: 31px;
    justify-content: space-between;

    text-align: center;
  }
}

.modal-cart__input {
  display: none;

  &:checked + .modal-cart__label {
    border-color: #62d1ba;
  }
}

.modal-cart__label {
  width: 82px;
  padding: 15px 33px;

  box-sizing: border-box;
  cursor: pointer;

  font-weight: $font-bold;
  font-size: $fs-base;

  border: $border-color solid 2px;

  &:hover {
    border-color: #c7c7c7;
  }

  &:active {
    border-color: #62d1ba;
  }

  &:last-of-type {
    margin-right: 0;
  }

  @media #{$tablet-widths} {
    width: 112px;
    padding: 12px 33px;
  }
}

.modal-cart__to-add {
  width: 260px;
  padding: 16px 30px;
  margin: auto;
  margin-top: 31px;
  font-size: $fs-base;

  color: $font-white;

  background-color: $bg-tiffany;
  border: none;

  &:hover {
    color: $font-white;
    background-color: $bg-tiffany-effect;
  }

  &:active {
    color: #97e2d2;
    background-color: $bg-tiffany-effect;
  }

  @media #{$tablet-widths} {
    width: 350px;
    margin: 0 auto;
  }
}
