.modal-cart {
  padding: 45px 30px;

  font-size: 0;

  border-top: $border-color solid 1px;
}

.modal-cart__title {
  padding: 0 50px;
  padding-bottom: 20px;

  text-align: center;
  text-transform: uppercase;

  @include section-header();
}

.modal-cart__description {
  display: block;

  font-size: $fs-small;
  line-height: $lh-large;
  text-align: center;
}

.modal-cart__form-wrapper {
  display: flex;
  justify-content: center;
}

.modal-cart__input {
  display: none;
}

.modal-cart__label {
  display: inline-block;
  margin-right: 7px;
  padding: 10px 33px;

  font-weight: $font-bold;
  font-size: $fs-base;
  vertical-align: middle;

  border: $border-color solid 2px;

  &#{&}:last-of-type {
    margin-right: 0;
  }
}

.modal-cart__select-size {
  margin-top: 25px;
}

.modal-cart__to-add {
  width: 260px;
  margin: auto;
  margin-top: 31px;

  color: $font-white;

  background-color: $bg-tiffany;
  border: none;
}

@media #{$tablet-widths} {
  .modal-cart {
    width: 350px;
    margin: 50px auto;
    padding: 50px 100px;

    border: $border-color solid 1px;
  }

  .modal-cart__title {
    font-size: 30px;
    line-height: 57px;
  }

  .modal-cart__form-wrapper {
    display: flex;
    justify-content: space-between;

    text-align: center;
  }

  .modal-cart__label {
    flex-grow: 1;
  }
}
