.order-form {
  margin: 0 30px;
  margin-bottom: 55px;

  @media #{$tablet-widths} {
    margin: 0;
  }
}

.order-form__description {
  font-size: $fs-small;
  margin-bottom: 13px;

  @media #{$tablet-widths} {
    @include container();

    font-size: $fs-base;
    line-height: $lh-large;
    margin: 0;
  }

  @media #{$desktop-widths} {
    width: 700px;
  }
}

.order-form__fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 4px;
  border: none;
  // width: 280px;

  &#{&}--checkbox {
    margin-bottom: 13px;
  }

  &#{&}--tel {
    padding-bottom: 18px;
  }

  &#{&}--email {
    margin-bottom: 21px;
  }

  &#{&}--fullname {
    margin-bottom: 17px;
  }

  &#{&}--wishes {
    margin-bottom: 16px;
  }

  @media #{$tablet-widths} {
    margin: 0 auto;
    padding: 50px;

    &#{&}--gray {
      background-color: #f1f1f1;
    }

    &#{&}--type {
      padding-top: 39px;
      padding-bottom: 34px;
    }

    &#{&}--checkbox {
      margin-bottom: 0;
      padding-bottom: 41px;
      padding-top: 35px;
    }

    &#{&}--fullname {
      margin-bottom: 0;
      padding-top: 42px;
      padding-bottom: 34px;
    }

    &#{&}--tel {
      padding-top: 46px;
      padding-bottom: 0;
    }

    &#{&}--email {
      margin-bottom: 0;
      padding-top: 16px;
      padding-bottom: 47px;
    }

    &#{&}--wishes {
      padding-top: 47px;
      padding-bottom: 38px;
    }
  }

  @media #{$desktop-widths} {
    &#{&}--wishes {
      margin-bottom: 0;
      padding-bottom: 50px;
    }
  }
}

.order-form__fieldset-wrapper {

  @media #{$tablet-widths} {
    display: flex;
    align-items: baseline;
  }

  @media #{$desktop-widths} {
    @include container();
  }
}

.order-form__legend-wrapper {
  position: relative;
  background-color: $bg-white;
  padding-right: 25px;
  z-index: 1;

  @media #{$tablet-widths} {
    padding-right: 0;
    &#{&}--gray {
      background-color: $bg-input;
    }
  }
}

.order-form__legend {
  position: relative;
  width: 100%;
  padding: 10px 0;
  font-weight: $font-bold;
  font-size: $fs-base;
  line-height: $lh-base;
  color: $font-tiffany;
  text-transform: uppercase;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: #62d1ba;
  }

  @media #{$tablet-widths} {

    &::after {
      display: none;
    }

    width: 167px;
    padding: 20px 0;
    padding-right: 25px;
    box-sizing: border-box;
  }

  @media #{$desktop-widths} {
    width: 175px;
    text-align: center;
    padding-right: 12px;

    &#{&}--email {
      padding-right: 0px;
    }
  }
}

.order-form__inner-wrapper {

  &#{&}--tel {
    position: relative;
    padding-top: 13px;

    svg {
      position: absolute;
      top: 9px;
      right: 8px;
      opacity: 0.2;
    }

    &:hover {
      svg {
        opacity: 1;
        fill: $input-fill;
      }
    }

    &:active {
      svg {
        opacity: 1;
        fill: $input-fill;
      }
    }
  }

  &#{&}--email {
    padding-top: 12px;
    position: relative;

    svg {
      position: absolute;
      top: 8px;
      right: 4px;
      opacity: 0.2;
    }

    &:hover {
      svg {
        opacity: 1;
        fill: $input-fill;
      }
    }

    &:active {
      svg {
        opacity: 1;
        fill: $input-fill;
      }
    }
  }

  &#{&}--wishes {
    margin-top: 15px;
  }

  @media #{$tablet-widths} {
    width: 501px;
    display: flex;
    flex-direction: column;

    &#{&}--color {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &#{&}--tel {

      svg {
        top: 14px;
        right: 25px;
      }
    }

    &#{&}--email {

      svg {
        top: 15px;
        right: 21px;
      }
    }

    &#{&}--wishes {
      margin-top: 7px;
    }
  }

  @media #{$desktop-widths} {
    width: 700px;

    &#{&}--type {
      width: 875px;
    }

    &#{&}--color {
      width: 875px;
    }

    &#{&}--tel {
      svg {
        top: 15px;
        right: 4px;
      }
    }

    &#{&}--email {
      svg {
        top: 14px;
        right: 8px;
      }
    }
  }
}

.order-form__input-wrapper {
  position: relative;
  padding: 10px 0;

  &#{&}--radio {
    padding-left: 63px;
    margin-bottom: 10px;
  }

  &#{&}--checkbox {
    padding-top: 22px;
    padding-bottom: 15px;
    padding-left: 63px;
  }

  &#{&}--fullname {
    padding-top: 18px;
    padding-bottom: 3px;
  }

  @media #{$tablet-widths} {
    width: 65%;
    padding: 30px 0;

    &#{&}--radio {
      padding: 20px 0;
      padding-left: 80px;
      margin-bottom: 10px;
    }

    &#{&}--accessory {
      margin-top: 10px;
      padding-bottom: 21px;
    }

    &#{&}--checkbox {

      width: 239px;
      padding-left: 80px;
      padding-top: 27px;
      padding-bottom: 24px;
      box-sizing: border-box;

      &:nth-of-type(2n+1) {
        width: 262px;
      }
    }

    &#{&}--fullname {
      display: flex;
      width: 100%;
      padding: 16px 0;
      padding-bottom: 17px;

      align-items: baseline;
    }
  }

  @media #{$desktop-widths} {
    width: 50%;

    &#{&}--fullname {
      width: 100%;
      padding: 16.5px 0;
    }

    &#{&}--checkbox {
      width: 262px;
    }
  }
}

.order-form__input {
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
  width: 100%;

  &:checked + .order-form__label--radio::before {
    background-color: $bg-tiffany;
  }

  &:checked + .order-form__label--checkbox::before {
    background: url("../img/icon-tick.svg") no-repeat center;
    background-size: 60%;
  }

  @media #{$tablet-widths} {
    padding-left: 18px;
    padding-bottom: 15px;
    flex-grow: 1;

    &#{&}--tel {
      width: 100%;
    }

    &#{&}--email  {
      width: 100%;
    }
  }
}

.order-form__label {
  &#{&}--radio {
    &::before {
      position: absolute;
      content: "";
      width: 15px;
      height: 15px;
      top: 50%;
      left: 2px;
      transform: translateY(-50%);
      background-color: $bg-white;
      border: $bg-white solid 10px;
      border-radius: 50%;
      box-shadow: 0px 0px 0px 2px #444;
    }

    &:hover::before {
      box-shadow: 0px 0px 0px 2px #62d1ba;
    }

    &:active::before {
      box-shadow: 0px 0px 0px 2px #c7c7c7;
    }
  }

  &#{&}--checkbox {
    &::before {
      position: absolute;
      content: "";
      width: 36px;
      height: 35px;
      top: 14px;
      left: 0;
      border: #444 solid 2px;
    }

    &:hover::before {
      border-color: #62d1ba;
    }

    &:active::before {
      border-color: #c7c7c7;
    }
  }

  // &#{&}--toy {
  //   &::before {
  //     top: 10px;
  //     left: 3px;
  //   }
  // }

  &#{&}--fullname {
    display: block;
    margin-bottom: 17px;
  }


  @media #{$tablet-widths} {
    margin-bottom: 24px;

    &#{&}--radio {

      &:last-of-type {
        margin-bottom: 0;
      }

      &::before {
        width: 22px;
        height: 22px;
        // top: 18px;
        // left: 2px;
        border: $bg-white solid 13px;
      }
    }

    &#{&}--checkbox {
      &:nth-last-of-type(1),
      &:nth-last-of-type(2) {
        margin-bottom: 0;
      }

      &::before {
        width: 50px;
        height: 48px;
        top: 16;
      }
    }

    &#{&}--fullname {
      margin: 0;
      margin-right: 26px;
      padding: 0;
    }
  }
}

.order-form__textarea {
  width: 260px;
  height: 142px;
  padding: 16px;

  @media #{$tablet-widths} {
    padding-top: 13px;
    width: 100%;
  }
}

.order-form__footer {
  @media #{$tablet-widths} {
    @include container();

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  @media #{$desktop-widths} {
    width: 700px;
  }
}

.order-form__footnote {
  font-size: $footnote-fs;
  line-height: $footnote-lh;

  @media #{$tablet-widths} {
    padding-top: 10px;
    font-size: $fs-base;
    line-height: $lh-large;
  }
}

.order-form__to-send {
  width: 100%;
  margin-top: 30px;
  font-size: $fs-base;
  padding: 15px 20px;

  @media #{$tablet-widths} {
    width: 230px;
    margin: 0;

    order: -1;
  }
}
