.order-form {
  margin: 0 30px;
  margin-bottom: 55px;
}

.order-form__description {
  font-size: $fs-small;
}

.order-form__fieldset {
  padding: 0;

  border: none;
}

.order-form__legend {
  padding: 10px 0;
  font-weight: $font-bold;
  font-size: $fs-base;
  color: $font-tiffany;
  text-transform: uppercase;
}

.order-form__label {
  padding: 20px 0;

  &#{&}--indented {
    padding-left: 62px;
  }

  font-weight: $font-bold;
  font-size: $fs-base;
  line-height: $lh-base-bigger;
}

.order-form__input {
  font-size: $fs-base;
  line-height: $lh-base-bigger;

  border: none;
  border-bottom: #000 solid 2px;
}

.order-form__footnote {
  font-size: $footnote-fs;
  line-height: $footnote-lh;
}

.order-form__to-send {
  width: 100%;
  margin-top: 30px;
}
