.page-footer {
  text-align: center;

  background-color: $bg-footer;
}

.page-footer__wrapper {
  @include container();

  @media #{$tablet-widths} {
    padding: 34px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo {
  display: none;

  @media #{$tablet-widths} {
    width: 28%;
    display: block;
    text-align: left;
  }
}

.page-footer__social {
  width: 140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  padding: 22px 62px 28px 57px;
  border-bottom: $border-footer solid 1px;

  @media #{$tablet-widths} {
    border: none;
  }
}

.page-footer__copyright {
  padding: 21px 0;
  padding-bottom: 23px;

  font-size: 0;

  @media #{$tablet-widths} {
    width: 28%;
    text-align: right;
  }
}

.page-footer__copyright-text {
  display: inline-block;
  padding-bottom: 5px;
  padding-right: 30px;
  vertical-align: middle;
  font-size: 19px;
  line-height: 19px;
  font-weight: $font-bold;
  color: $font-black;

  @media #{$tablet-widths} {
    padding-bottom: 3px;
    padding-right: 27px;
  }
}

.page-footer__copyright-link {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  width: 29px;
  height: 36px;
  background: url("../img/logo-htmlacademy.svg") no-repeat;

  @media #{$tablet-widths} {
    background-position: 2px;
  }
}
