.page-header {
  position: relative;
  background: $bg-header;

  margin-bottom: 22px;

  @media #{$tablet-widths} {
    margin-bottom: 33px;
    padding-bottom: 14px;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 24px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: bottom;
      background-size: auto 24px;
      bottom: 0;
    }
  }

  @media #{$desktop-widths} {
    margin-bottom: 54px;
    padding-bottom: 19px;

    &::after {
      height: 34px;
      background-size: auto 34px;
    }

    &#{&}--dark-gray {
      background-color: $bg-title;
    }

    &#{&}--inner {
      margin-bottom: 56px;
      padding-bottom: 0;
    }
  }
}

.page-header__logo-wrapper {
  padding: 21px 0 16px 0;
  background: $bg-white;
  text-align: center;

  border-top: $border-color solid 1px;
  border-bottom: $border-color solid 1px;

  @media #{$tablet-widths} {
    flex-grow: 1;
    order: -2;
    width: 320px;
    padding: 21px 0 14px 49px;
    text-align: left;
  }

  @media #{$desktop-widths} {
    width: 277px;
    padding: 8px 28px 0 0;
    text-align: center;
  }
}

.page-header__logo {
  &#{&}--tablet,
  &#{&}--desktop {
    display: none;
  }

  &:hover {
    fill: #666666;
  }

  &:active {
    fill: #b2b2b2;
  }

  @media all and #{$tablet-widths} {
    &#{&}--mobile {
      display: none;
    }

    &#{&}--tablet {
      display: inline;
    }
  }

  @media all and #{$desktop-widths} {
    &#{&}--tablet {
      display: none;
    }

    &#{&}--desktop {
      display: inline;
    }
  }
}

.page-header__wrapper {
  position: relative;
  background-color: $bg-title;

  @media #{$tablet-widths} {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &#{&}--light-gray {
      background-color: $bg-header;
    }
  }

  @media #{$desktop-widths} {
    max-width: 1150px;
    margin: 0 auto;
  }
}

.page-header__title {
  @include page-header();

  margin: 0 auto;
  margin-bottom: 0px;
  // max-width: 1150px;

  background-color: #f1f1f1;

  @media #{$tablet-widths} {
    @include section-header();
    padding: 35px 0;
    padding-bottom: 92px;
    padding-left: 5px;
    // background-image: url("../img/bg-zigzag-fill.svg");
    // background-repeat: repeat-x;
    // background-position: bottom;
    // background-size: 110% auto;
  }

  @media #{$desktop-widths} {
    padding-left: 0;
    padding-bottom: 121px;
  }


}

.page-header__delivery {
  display: none;

  @media #{$tablet-widths} {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;
    padding-right: 50px;

    text-align: right;

    &#{&}--light-gray {
      background-color: $bg-header;
    }
  }
}

.page-header__nav-btn {
  padding: 0;
  position: absolute;
  top: 32px;
  right: 31px;

  cursor: pointer;

  width: 20px;
  height: 14px;
  display: block;
  background-color: $bg-white;
  border: none;

  &#{&}--opened::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;

    top: 0;
    left: 0;

    background-color: #221f1f;
    box-shadow: 0 6px 0 0 #221f1f,
                0 12px 0 0 #221f1f;
  }

  @media #{$tablet-widths} {
    display: none;
  }
}
