.page-footer {
  text-align: center;

  background-color: $bg-footer;
}

.page-footer__wrapper {
  @include container();

  @media #{$tablet-widths} {
    padding: 34px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo {
  position: relative;
  display: none;
  margin-bottom: 14px;
  margin-left: 1px;

  svg {
    display: block;
  }

  &:hover {
    svg {
      fill: $icon-fill-effect;
    }
  }

  &:active {
    svg {
      opacity: 0.3;
    }
  }

  @media #{$tablet-widths} {
    width: 28%;
    display: block;
    text-align: left;
  }
}

.page-footer__social {
  width: 140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  padding: 22px 62px 28px 57px;
  border-bottom: $border-footer solid 1px;

  @media #{$tablet-widths} {
    border: none;
  }
}

.page-footer__copyright {
  padding: 20px 0;
  padding-bottom: 24px;

  font-size: 0;

  @media #{$tablet-widths} {
    width: 28%;
    text-align: right;
  }
}

.page-footer__copyright-link {
  position: relative;
  vertical-align: middle;
  font-size: 19px;
  line-height: 19px;
  font-weight: $font-bold;
  color: $font-black;
  text-decoration: none;
  padding: 3px 50px 5px 0;

  svg {
    position: absolute;
    top: 1px;
    right: 1px;
    fill: $icon-fill;
  }

  &:hover {
    svg {
      fill: $icon-fill-effect;
    }
  }

  &:active {
    color: #bfbfbf;

    svg {
      opacity: 0.3;
    }
  }

  @media #{$desktop-widths} {
    padding-right: 57px;
  }

}
