.promo {
  display: block;
  min-height: 373px;
  padding-top: 90px;

  background: $bg-gray url("../img/hero-mobile@1x.jpg") no-repeat top;
}

.promo__title {
  margin-top: 0;
  margin-bottom: 120px;

  @include page-header();
  padding: 0 30px;
}
