.promo {
  width: 100%;
  display: block;

  background: $bg-header url("../img/hero-mobile@1x.jpg") no-repeat top;
}

.promo__title {
  @include page-header();

  margin: 0;
  margin-bottom: 122px;
  padding: 0 30px;
  padding-top: 90px;

  @media #{$tablet-widths} {
    @include section-header();

    margin-top: 90px;
    margin-bottom: 180px;
    padding: 0 50px;
  }

  @media #{$desktop-widths} {
    padding: 0 175px;
    margin-top: 100px;
    margin-bottom: 159px;
  }
}
