.reviews {
  @include zigzag-line();
}

.reviews__wrapper {
  @include container();

  margin-bottom: 36px;
  padding-bottom: 50px;

  @media #{$tablet-widths} {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 77px;
    padding-bottom: 102px;
    margin-bottom: 35px;

    background: url("../img/review@1x.jpg") no-repeat;

    @media #{$retina} {
      background: url("../img/review@2x.jpg") no-repeat;
      background-size: 350px auto;
    }
  }

  @media #{$desktop-widths} {
    background-position-y: 6px;
    padding-bottom: 155px;
    margin-bottom: 71px;
  }
}

.reviews__title {
  @include section-header();
  margin-bottom: 24px;

  @media #{$tablet-widths} {
    order: -2;
    margin: 0;
  }

  @media #{$desktop-widths} {
    padding-left: 171px;
  }
}

.reviews__item {
  margin: 0;
  margin-bottom: 26px;

  line-height: $lh-large;

  @media #{$tablet-widths} {
    margin-top: 45px;
    margin-bottom: 57px;
  }

  @media #{$desktop-widths} {
    padding-left: 175px;
    padding-right: 100px;
    margin-bottom: 40px;
  }
}

.reviews__author {
  margin-bottom: 32px;

  @media #{$tablet-widths} {
    max-width: 500px;
    display: flex;
    flex-direction: column;
  }

  @media #{$desktop-widths} {
    max-width: 700px;
    padding-left: 175px;
  }
}

.reviews__author-name {
  display: block;
  margin-bottom: 6px;

  font-weight: $font-bold;
  font-size: $fs-base;
  color: $font-black;
}

.reviews__author-email {
  font-size: $fs-base;
}

.reviews__controls {
  display: flex;
  height: 50px;
  margin-bottom: 38px;

  border: $border-color solid 1px;

  @media #{$tablet-widths} {
    width: 167px;
    margin: 0;
    border: none;
  }
}

.reviews__prev {
  cursor: pointer;
  outline: none;
  width: 50%;

  background: url("../img/icon-left-arrow.svg") no-repeat;
  background-position: center;
  border: none;
  border-right: $border-color solid 1px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media #{$tablet-widths} {
    border-right: none;
    background-position: 11px 16px;
  }

  @media #{$desktop-widths} {
    background-position: 11px 13px;
  }
}

.reviews__next {
  cursor: pointer;
  outline: none;
  width: 50%;

  background: url("../img/icon-right-arrow.svg") no-repeat;
  background-position: center;
  border: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media #{$tablet-widths} {
    background-position: 14px 16px;
  }

  @media #{$desktop-widths} {
    background-position: 14px 13px;
  }
}

.reviews__text {
  @media #{$tablet-widths} {
    margin: 0;
    font-size: $fs-base;
    line-height: $lh-large;
  }
}

.reviews__to-write {
  @media #{$tablet-widths} {
    order: -1;
    width: 175px;
    box-sizing: border-box;
    margin: 0;
    margin-top: 2px;
    padding: 12px 38px;
    font-size: $fs-base;
  }

  @media #{$desktop-widths} {
    margin-top: 8px;
  }
}
