.social-link {
  position: relative;
  display: inline-block;

  text-align: center;
  font-size: 0;

  svg {
    position: absolute;
    top: 6px;
    left: 0;
  }

  &:hover {
    svg {
      fill: $icon-fill-effect;
    }
  }

  &:active {
    svg {
      opacity: 0.3;
    }
  }

  &#{&}--inst {
    width: 22px;
    height: 29px;

  }

  &#{&}--fb {
    width: 17px;
    height: 30px;

    svg {
      top: 1px;
      left: 2px;
    }
  }

  &#{&}--tw {
    width: 24px;
    height: 29px;

  }
}
