.social-link {
  position: relative;
  display: inline-block;

  text-align: center;
  font-size: 0;

  &#{&}--inst {
    width: 22px;
    height: 29px;
    background: url("../img/icon-insta.svg") no-repeat;
    background-position-y: 8px;
  }

  &#{&}--fb {
    width: 17px;
    height: 30px;
    background: url("../img/icon-fb.svg") no-repeat;
    background-position: 2px;
  }

  &#{&}--tw {
    width: 24px;
    height: 29px;
    background: url("../img/icon-twitter.svg") no-repeat;
    background-position-y: 8px;
  }
}
