.user-nav {
  @include list();

  @media #{$tablet-widths} {
    display: flex;
    order: -1;
    border-bottom: $border-color solid 1px;
  }
}

.user-nav__item {
  background: $bg-white;
  padding: 30px;
  border-bottom: $border-color solid 1px;
  font-weight: $font-bold;
  font-size: $fs-base;

  @media #{$tablet-widths} {
    margin: 0;
    border: none;
    padding: 31px 0;

    &#{&}--search {
      width: 82px;
      font-size: 0;
      border-right: $border-color solid 1px;
    }

    &#{&}--cart {
      width: 264px;
      padding-right: 50px;
      text-align: right;
    }
  }
}

.user-nav__link {
  position: relative;
  display: block;
  text-decoration: none;
  color: $font-black;
  padding-left: 45px;

  &:hover {
    color: $link-hover;
  }

  &:active {
    color: $link-active;
  }

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    opacity: 0.3;
  }

  &#{&}--search::before {
    width: 18px;
    height: 19px;
    background: url("../img/icon-search.svg") no-repeat;
  }

  &#{&}--cart::before {
    width: 21px;
    height: 19px;
    background: url("../img/icon-cart.svg") no-repeat;
  }

  @media #{$tablet-widths} {
    &#{&}--search::before {
      left: 33px;
    }

    &#{&}--cart::before {
      left: 31px;
    }
  }
}
