.video {
  margin: 0 29px;
  margin-bottom: 80px;

  border: $border-color solid 1px;
}

.video__title {
  padding-left: 90px;

  font-size: $fs-base;
  color: $font-black;
}

.video__description {
  margin: 0;
  padding: 25px;

  font-size: $fs-small;
}

.video__content {
  img {
    display: block;
  }
}

.video__to-order {
  margin: 25px;
}
