.video {
  margin: 0 30px;
  margin-bottom: 58px;

  &:hover {
    box-shadow: 0 6px 10px $shadow-color;
  }

  &:active {
    box-shadow: 0 3px 5px $shadow-color;
  }

  @media #{$tablet-widths} {
    margin: 0 50px;
    margin-bottom: 43px;
    display: flex;
    flex-direction: column;
  }

  @media #{$desktop-widths} {
    max-width: 1050px;
    padding: 0;
    margin: 0 auto;
    position: relative;
    align-items: flex-end;
  }
}

.video__title {
  margin: 0;
  padding: 24px 0 23px 89px;

  border: $border-color solid 1px;
  border-bottom: none;
  position: relative;

  font-size: $fs-base;
  color: $font-black;

  &::before {
    position: absolute;
    content: "";
    left: 33px;
    top: 34px;
    width: 32px;
    height: 22px;
    background: url("../img/icon-video.svg") no-repeat center;
  }

  @media #{$tablet-widths} {
    margin: 0;
    margin-bottom: 9px;
    padding-top: 37px;
    padding-left: 105px;

    font-size: 20px;

    &::before {
      top: 37px;
      left: 41px;
    }
  }

  @media #{$desktop-widths} {
    padding: 96px 60px 32px 78px;
    width: 369px;
    margin: 0;
    box-sizing: border-box;

    &::before {
      left: 80px;
      top: 46px;
    }
  }
}

.video__description {
  margin: 0;
  padding: 27px 33px;
  padding-bottom: 0;
  border-right: $border-color solid 1px;
  border-left: $border-color solid 1px;

  font-size: $fs-small;

  @media #{$tablet-widths} {
    font-size: 15px;
    line-height: $lh-large;
    padding: 0 42px;
    padding-left: 39px;
    margin-bottom: 10px;
  }

  @media #{$desktop-widths} {
    margin: 0;
    padding: 0 60px 46px 78px;
    width: 369px;
    box-sizing: border-box;
  }
}

.video__content {
  position: relative;
  width: 260px;

  img {
    display: block;
  }

  @media #{$tablet-widths} {
    order: -1;
    width: 668px;
    height: 456px;
    background-color: #f2f2f2; //Временно
    margin: 0 auto;

    img {
      width: 668px;
      height: 456px;
    }
  }

  @media #{$desktop-widths} {
    position: absolute;
    top: 0;
    left: 0;
    width: 682px;
    height: 455px;
    margin-bottom: 0;

    img {
      width: 682px; // Временно
      height: 455px;
    }
  }
}

.video__to-play {
  position: absolute;
  width: 102px;
  height: 76px;
  background: url("../img/icon-play.svg") no-repeat transparent;
  border: none;
  top: 50%;
  left: 51.3%; // Под макет
  cursor: pointer;
  transform: translate(-50%, -51.3%); // Под макет

  // Тут по-хорошему нужен удобный миксин для вычисления?
  &:hover {
    width: calc(102px * 1.2);
    height: calc(76px * 1.2);
    background-size: contain;
  }

  // И тут?
  &:active {
    width: calc(102px * 0.8);
    height: calc(76px * 0.8);
  }
}

.video__to-order-wrapper {
  padding: 25px 34px;
  padding-bottom: 32px;
  border: $border-color solid 1px;
  border-top: none;

  @media #{$tablet-widths} {
    padding-bottom: 45px;
  }

  @media #{$desktop-widths} {
    padding: 0;
  }

}

.video__to-order {
  font-size: $fs-base;

  @media #{$tablet-widths} {
    margin: 0 7px;
  }

  @media #{$desktop-widths} {
    margin: 0 57px 59px 80px;
    width: 230px;
    box-sizing: border-box;
  }
}
